.catName {
  text-transform: uppercase;
}

.content {
  margin-top: 103px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px 40px;
}

@media screen and (max-width: 991px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-top: 120px;
  }

  .content {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
}
